.btn {
    min-width: 200px;
    border-radius: 4px;
    border: none;

    background-color: var(--accent-color);
    color: var(--white-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    &:hover,
    &:focus {
       background-color: #188CE8;
    }
}

.modal-btn {
    padding: 10px 32px;

    transition: background-color var(--animation);
}



